span.balmoral77{margin-top:-25px; overflow:visible; line-height:80px;}
span.balmoral47{margin-top:-15px; overflow:visible; line-height:55px;}

.searchBtn{width:38px; height:38px; padding:0px; text-align:center;}

.fullwidthP{width:100%;}

.downloadArticle{margin:3px 0 0 0;}