$site-color : #fff;
$fl-left : left;
$fl-right : right;
$fl-center : center;
$gap : 0 15px;
$mid-pos :0 auto;
$tgl-font :'TradeGothicLightLight';
$fontweight : normal;
$list-none : none;
$primery-color : #555;
$secondery-color : #919191;





