/* Normal desktop :992px. */

@media only screen and (min-width:1199px) {
    /* .homePage{
       height: 100vh;
      } */
}

/****************************************************************************************
@
@	Tablet Styles
@
****************************************************************************************/
/* Tablet desktop :768px. */

/*max width 991px*/
@media(max-width: 991px) {
    .slicknav_menu {
        display: block;
    }

    #cssmenu.menu-wraper {
        display: none;
    }

    .ItinerariesBx {
        padding: 0 15px;
    }

    .Itineraries {
        padding-top: 5%;
    }

    .Itineraries h2 {
        font-size: 27px;
        margin-top: 0px;
        margin-bottom: 0;
    }

    .flightInfo .innerSec {
        padding: 0px 1px;
    }

    .flightInfo .mdlNumBx {
        flex-direction: column;
    }

    .flightInfo h2 {
        font-size: 43px;
    }

    .formation h2 {
        font-size: 43px;
    }

    .containerInner {
        padding: 0 15px;
    }

    .formation .right p {
        max-width: 100%;
    }

    .checkInBx {
        flex-direction: column;
    }

    .checkInBx .active {
        width: 80%;
        margin-bottom: 15px;
    }

    .checkInBx .inactive {
        width: 80%;
        margin-bottom: 15px;
    }

    .leaderInformation {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .leaderInformation h3 {
        font-size: 43px;
    }

    .bodyWrap {
        margin: 0 40px;
    }

    /* .homePage {
        height: 100vh;
    } */
}

/*width 768px to 991px*/
@media(min-width: 768px) and (max-width: 991px) {
    .loginInner {
        margin: 0 0px;
    }

    .login-left-img {
        max-width: 100%;
    }

    .login-wrapper {
        padding: 10px 0px;
    }
}

/*tab css*/
@media(max-width: 768px) {}

/****************************************************************************************
@
@	Mobile Styles
@
****************************************************************************************/
/*max width 767px*/
@media(max-width: 767px) {
    .bodyWrap {
        -webkit-box-shadow: 0px 3px 11px 0px rgba(61, 61, 61, 0.5);
        -moz-box-shadow: 0px 3px 11px 0px rgba(61, 61, 61, 0.5);
        box-shadow: 0px 3px 11px 0px rgba(61, 61, 61, 0.5);
        margin: 0 15px;
    }

    .Itineraries {
        padding-top: 5%;
    }

    .ItinerariesBx {
        padding: 0 15px;
        margin-bottom: 15px;
    }

    .list {
        flex-direction: column;
    }

    .list .left {
        min-width: 100%;
    }

    .flightInfo {
        padding-top: 5%;
        padding-bottom: 70px;
        margin-top: 5%;
    }

    .flightInfo .innerSec {
        padding: 0px 5px;
    }

    .containerInner {
        padding: 0 10px;
    }

    .formation h2 {
        font-size: 33px;
    }

    .checkInBx {
        flex-direction: column;
    }

    .checkInBx .active {
        width: 100%;
        margin-bottom: 15px;
    }

    .checkInBx .inactive {
        margin-bottom: 15px;
        width: 100%;
    }

    .leaderInformation {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .leaderInformation h2 {
        font-size: 33px;
    }

    .leaderWrap {
        padding: 25px;
    }

    .leaderInformation h3 {
        font-size: 33px;
    }

    .bannerSec .bannerTxt {
        width: 90%;
    }

    .bannerSec .bannerTxt h1 {
        font-size: 40px;
    }

    .popBx {
        display: flex;
        flex-direction: column;
        min-width: 140px;
        margin-bottom: 15px;
        height: 100%;
    }
    .popBx img{
        margin: 0 auto;
        max-width: 100%;
    }
    .popBx i {
        font-size: 40px;
        margin-right: 0;
        color: #b13437;
        margin-bottom: 15px;
    }

    .loginInner {
        margin: 0 0px;
    }

    .right-login {
        padding: 15px;
    }

    .login-wrapper {
        padding: 10px 0px;
    }

    .login-left-img {
        margin-top: 0px;
    }

    .signupSec .form-control {
        height: 50px;
    }
    .popBx2 .btnPopup2 {
        margin-bottom: 10px;
    }
    .popBx2 .btnPopup2 i {
        font-size: 20px !important;
    }

    /* ############ 27/10/2023 ############### */

    .select2-container {
        width: 100% !important;
    }
    .px-3 {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    /* ############ end ############### */

}

/*width 576px to 767px*/
@media(min-width: 576px) and (max-width: 767px) {}

/*max with 575px*/
@media (max-width: 500px) {

    /* ############ 27/10/2023 ############### */

    .select2-container {
        width: 100% !important;
    }
    .px-3 {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    /* ############ end ############### */

}